* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #555;
  color: #fff;
}

header {
  width: 100%;
  text-align: center;
}

h1 {
  width: 100%;
  padding: 2em;
}

#container, .block {
  justify-content: space-around;
  flex-direction: column;
}

#interactive {
  padding: 2em;
  justify-content: space-around;
}

button, input {
  background-color: #fff;
  border: 1px solid #aaa;
  padding: 1em;
}

button:hover {
  background-color: #eee;
  cursor: pointer;
}

button:active {
  background-color: #ddd;
}

#toggler {
  width: 13em;
  text-align: center;
  justify-content: space-around;
}

.block {
  padding-bottom: 25px;
}

.df {
  display: flex;
  flex-wrap: wrap;
}

.mini-header {
  text-align: center;
  padding: 2em;
}

.fixed-head .mini-header {
  position: fixed;
  top: 0;
}

@media only screen and (max-width: 720px) {
  #container, .mini-header {
    width: 90vw;
  }
}

@media only screen and (min-width: 721px) {
  #container, .mini-header {
    width: 70vw;
  }
}

@media only screen and (min-width: 1141px) {
  #container, .mini-header {
    width: 50vw;
  }
}
